form{
width: 60%;
margin-left: 20%;
margin-right: 20%;

}

input:not(input[type="radio"],input[type="checkbox"]){
    width: 200px;
    height: 30px;
    margin:2%;
    display: block;
}

